*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #181442;
    color: #eee;
}
header{
border:2px solid #0c0a20;
border-radius: 5px;
background-color: #110d2b;
}
div.topo{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;

}
div img{
    width: 20em;
    height: 10em;
}
.topico ul {
    display: flex;
    list-style: none;
    
    margin: auto;
    gap: 20px;  
}
.busca{
    margin: auto;
}
nav a{
    color: #ffa500;
    text-decoration: none;
    font-weight: bold;
    transition: 3ms;    
}
nav a:hover{
    color: #e65000;
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 100%;
    text-align: center;
}    
.secao ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 2em;
    gap: 20px;  
    }
.descricao {
    width: 60%;
    margin: auto;
    padding: 0.5;
    background-color: #000f53;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.jogo img{
    width: 30em;
    padding: 2em;
}
#btnVoltarTopo{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #63605c;
    color: #eee;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    z-index: 99;
    scroll-behavior: smooth;
}
#btnVoltarTopo:hover{
    background-color: #e65000;
}
.hidden {
    display: none;
}
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;   
}