*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0.5em 0.2em;
    background-color: #181442;
    color: #eee;
}
header{
    margin: 0.2em;
    padding: 1em 0.5em;
}
div.topo{
width: 100%;
display: flex;
justify-content: space-between;
border:2px solid #0c0a20;
border-radius: 5px;
background-color: #110d2b;
}
div img{
    width: 20em;
    height: 10em;
}
.topico ul {
    display: flex;
    list-style: none;
    padding-top: 2em;
    margin: auto;
    gap: 20px;  
    }
nav a{
    text-decoration: none;
    color: white;
}
nav li{
    border: 1px solid #3b30b1;
    padding: 5px 10px;
    border-radius: 8px;
    color: rgb(35, 164, 187);
    transition: 0.3s;
    
    }
nav li :hover {
    background: rgb(35, 164, 187);
    color: #eee;
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 100%;
    text-align: center;
}    
.secao ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-top: 2em;
    gap: 20px;  
    }
.descricao {
    width: 60%;
    margin: auto;
    padding: 0.5;
    background-color: #000f53;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.jogo img{
    width: 20em;
    padding: 2em;
   
}
section .jogo{
    margin: 2em 0;
}
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;

   
}