.flexboxContainer{
    width: 100%;
    height: 500px;
    border: 2px solid #F00;
    background: #22e125;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}
.flexboxContainer div{
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 10px;
    border: 2px solid #00f;
    background-color: #fff;
    flex-grow: 1;
}
.ordem{
    order: -1;
}
.crescer{
    flex-shrink: 0;
}
.base{
    flex-basis: 15%;
}
.sozinho{
    height: 50px !important;
    align-self: center;
}